@font-face {
  font-family: main;
  src: url(fonts/framd.ttf);
}

@font-face {
  font-family: extra;
  src: url(fonts/FRABK.TTF);
}

body {
    background-color: #454545;
    padding: 0px;
    margin: 0px;
}

section {
    color: #ffffff;
    font-family: "main", sans-serif;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

a, a:visited {
    font-size: 15px;
    color: #000000;
    padding: 2px 15px 2px 15px;
    background-color: #ffffff;
    text-decoration: none;
}

hr {
    float: none;
    width: 100%;
    border-style: dashed;
    border-color: #fff;
}

div#fadeout{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(images/FadeOut.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: 90;
    bottom: 0;
}

section#footer {
    font-size: 8px;
    width: 100%;
    z-index: 95;
    position: fixed;
    bottom: 20px;
}

section#header {
    width: 100%;
    height: 100vh;
    background-color: #76b54f;
}

img#logo {
    width: 400px;
    margin-top: calc(40vh - 180px);
}

p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 50px;
}

.page{
    width: 33%;
    transition: all 0.2s;
    user-select: none;
}

@media (max-width: 2000px){
    .page{
        width: 50%;
        transition: all 0.2s;
    }
}

@media (max-width: 1100px){
    .page{
        width: 80%;
        transition: all 0.2s;
    }
}

@media (max-width: 750px){
    .page{
        width: 100%;
        transition: all 0.2s;
    }
}

@media (max-width: 400px){
    img#logo{
        width: 100%;
    }
}

h1 {
    font-family: 'main', sans-serif;
}

#page1 {
    background-color: #2087b5
}
#page2 {
    background-color: #e2c565
}
#page3 {
    background-color: #62ac3b
}
#page4 {
    background-color: #ab55b2
}
#page5 {
    background-color: #1f9568
}
#page7 {
    background-color: #c67321
}
#page9 {
    background-color: #313131
}

section.menu {
    background-color: #e3e3e3;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    width: auto;
    position: fixed;
    top: 60px;
    left: 10px;
    text-align: left;
    z-index: 95;
    user-select: auto;
}

a.button {
    width: 100px;
    display:block;
    margin: 10px;
    border-style: solid;
    border-color: #fff;
    border-radius: 15px;
    border-width: 2px;
    transition: border-radius 0.25s;
}

a.button:hover {
    border-radius: 4px;
    border-width: 2px;
    transition: border-radius 0.25s;
}

a#menutoggle {
    position: fixed;
    left: 5px;
    top: 5px;
    background-image: url(images/menu_icon.svg);
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    border-radius: 5px;
    border-width: 2px;
    width: 20px;
    height: 20px;
    padding: 5px;
}

a#menutoggle:hover {
    border-radius: 15px;
    transition: border-radius 0.25s;
}

.hide {
    visibility: hidden;
}