@font-face {
  font-family: main;
  src: url(fonts/framd.ttf);
}

@font-face {
  font-family: extra;
  src: url(fonts/FRABK.TTF);
}

body {
    background-color: #14489b;
    padding: 0px;
    margin: 0px;
}

section {
    color: #ffffff;
    font-family: "main", sans-serif;
    text-align: center;
    user-select: none;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

a, a:visited {
    font-size: 15px;
    color: #000000;
    padding: 2px 15px 2px 15px;
    background-color: #ffffff;
    text-decoration: none;
}

hr {
    float: none;
    width: 100%;
    border-style: dashed;
    border-color: #fff;
}

div#fadeout{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(images/FadeOut.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: 90;
    bottom: 0;
}

section#footer {
    font-size: 8px;
    width: 100%;
    position: fixed;
    bottom: 20px;
    z-index: 95;
}

a.social {
    margin: 20px;
}

p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 50px;
}

#whitepaper{
    width: 33%;
    margin-left: 33%;
    transition: all 0.2s;
}

@media (max-width: 2000px){
    #whitepaper{
        width: 50%;
        margin-left: 25%;
        transition: all 0.2s;
    }
}

@media (max-width: 1100px){
    #whitepaper{
        width: 80%;
        margin-left: 10%;
        transition: all 0.2s;
    }
}

@media (max-width: 750px){
    #whitepaper{
        width: 100%;
        margin-left: 0%;
        transition: all 0.2s;
    }
}
h1 {
    font-family: 'main', sans-serif;
}